* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

p {
  margin: 0;
}

/* ヘッダー */
.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

.header-inner a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* タイトル */
h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  border: solid 1px black;
  padding: 0 20px;
}

/* ナビゲーション */
nav .menu {
  display: flex;
}

nav li {
  margin: 0 20px;
  list-style: none;
}

nav a {
  font-size: 34px;
}

/* メインビジュ写真 */
img {
  margin: 0 auto;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 34px;
  margin: 0;
  padding: 60px 0 40px;
}

/* About */
.circle {
  border-radius: 50%;
  height: 280px;
  width: 280px;
}

.about-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 960px;
  margin: 20px auto;
  padding: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.content {
  margin: 0 auto;
  padding: 0 20px;
}


/* Works */
.works-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width:  960px;
  margin: 0 auto;
}

.item {
  width: 25%;
  margin: 0 10px;
  padding-bottom: 40px;
}

/* フッター */
footer p {
  text-align: center;
  margin: 20px 0;
}

/* TOPに戻るボタン */

#top-btn {
  position: fixed;
  bottom: 38px;
  right: 20px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 28px 24px;
  border-radius: 50%;
  display: none;
}
/* スクロールしたときにセクションをフェードイン */
/* section { */
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

@media screen and (max-width: 767px) {
h1 {
  font-size: 28px;
}

nav a {
  font-size: 21px;
}

nav li {
  margin: 0 10px;
}

h2 {
  font-size: 28px;
  padding: 30px 0 20px;
}

.item {
  width: 100%;
  text-align: center;
}
}